
section.app-feature
  h2.heading-secondary
    | Search hotels with Japanow
  .accordion
    .accordion__tab
      h3.heading-tertiary--main.accordion__tab--header
        span
          | Join 100 million savvy travellers as you search hotels
          | from hundreds of providers. Here&apos;s how.
        ion-icon.icon-dropdown.accordion__tab--icon(name='chevron-up-outline')
      .accordion__tab--panel
        .accordion__content
          h4.accordion__content--header.heading-tertiary--sub
            | Search Everywhere. Go anywhere.
          .accordion__content--text
            | Lorem ipsum dolor sit amet consectetur adipisicing elit.
            | Corporis est laboriosam ratione, esse ipsum eligendi iusto.
        .accordion__content
          h4.accordion__content--header.heading-tertiary--sub
            | Find the comfort you deserve
          .accordion__content--text
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi
            | doloribus eius distinctio ipsam earum laborum eum dicta omnis
            | nam, perferendis quas odit accusamus.
        
        .accordion__content
          h4.accordion__content--header.heading-tertiary--sub
            | Keep it flexible
          .accordion__content--text
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            | Perferendis dignissimos magni nostrum, eligendi nam non pariatur
            | voluptatem quo veritatis quos.
        .accordion__content
          h4.accordion__content--header.heading-tertiary--sub
            | Save money and time
          .accordion__content--text
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            | Perferendis dignissimos magni nostrum, eligendi nam non pariatur
            | voluptatem quo veritatis quos.
    .accordion__tab
      h3.heading-tertiary--main.accordion__tab--header
        span Our commitment
        ion-icon.icon-dropdown.accordion__tab--icon(name='chevron-up-outline')
      .accordion__tab--panel
        .accordion__content--text
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          | Perferendis dignissimos magni nostrum, eligendi nam non pariatur
          | voluptatem quo veritatis quos.