extends ./../base
include ./../utils/_modal










block content 
  .overview
    include _header

    include _map

    include _popular-destinations

    include _app-feature

    +modal

    

  



