mixin _loadingSkeleton
  li.map-info__item.skeleton--container
    div.skeleton.map-info__item--img
    .map-info__item--description.skeleton.skeleton--text
     
      ul.map-info__item--tags
        li.map-info__item--tag.skeleton.skeleton--text 
        li.map-info__item--tag.skeleton.skeleton--text 
        li.map-info__item--tag.skeleton.skeleton--text 
        li.map-info__item--tag.skeleton.skeleton--text 
        li.map-info__item--tag.skeleton.skeleton--text 
        li.map-info__item--tag.skeleton.skeleton--text 
        li.map-info__item--tag.skeleton.skeleton--text 
