mixin searchBarTop
  .search-bar-top
    .modal
      form.location-search__form
        .wrapper 
          ion-icon.icon(name='search-outline')
          input#location-input.location-search__input(autocomplete="off" type="text" placeholder="Where to?" value="")

        .location-search__suggestion