$color-primary-black: rgb(21, 26, 27);
$color-pure-white: rgb(255, 255, 255);
$color-primary-white: rgb(245, 245, 245);
$color-grey-light-1: rgb(253, 253, 253);
$color-grey-light-2: rgb(245, 245, 245);
$color-grey-light-3: rgb(229, 229, 229);
$color-grey-medium-light: rgb(210, 210, 210);
$color-grey-dark-0: rgb(199, 199, 199);
$color-grey-dark-1: rgb(172, 172, 172);
$color-grey-dark-2: rgb(153, 153, 153);
$color-grey-dark-3: rgb(110, 109, 109);
$color-grey-dark-4: rgb(88, 88, 88);

$color-orange-light-1: rgb(213, 107, 25);
$color-green-light-1: rgb(1, 91, 67);
$color-red-light-1: rgb(241, 28, 28);

$color-yellow: rgb(242, 178, 3);
$color-green: rgb(0, 170, 108);
$color-orange: rgb(255, 119, 51);
$color-grey: rgb(117, 117, 117);
$color-beige: #f5f4ef;

$default-font-size: 1.6rem;

$margin-section: 15rem;
$margin-subsection: 3rem;

$default-section-width: 80%;

$screen-sm-max: 480px;
$screen-md-max: 768px;
$screen-lg-max: 1024px;
$screen-xl-max: 1200px;
